<%= render 'header' %>

<div class="row">

  <div class="span8">

  	<div class="bordered">

  		<div class="pull-right">
        <%= link_to 'Back', admin_team_path(@team), :class => 'btn' %>
      </div>

  		<h2><%= "#{@player.firstname} #{@player.surname}" %></h2>
  		<% if @player.position.empty? %>
      <p>There is no position for this player yet.</p>
      <% else %>
      <p><strong>Position: </strong> <%= @player.position %></p>
      <% end %>
  		<% if @player.info.empty? %>
      <p>There is no information about this player yet.</p>
      <% else %>
      <p><%= @player.info %></p>
      <% end %>

    </div>

  </div>

  <div class="span4">
    <h2>Sidebar</h2>
  </div>

</div>