<%= render 'header' %>

<div class="row">

  <div class="span8">

  	<div class="bordered">

  		<div class="pull-right">
        <%= link_to 'Back', admin_team_path(@team), :class => 'btn' %>
      </div>

  		<h2><%= "#{@player.firstname} #{@player.surname}" %></h2>
      <p><strong>Position: </strong> <%= @player.position %></p>
      <p><strong>Info: </strong> <%= @player.info %></p>

    </div>

  </div>

  <div class="span4">
    <h2>Sidebar</h2>
  </div>

</div>