<div class="page-header">
  <h1>Login</h1>
</div>

<div class="row">

  <div class="span6">

  <%= form_for @session, :url => admin_session_path, :html => { :class => "well" } do |f| %>

    <div class="control-group <%= 'error' if @session.errors[:username].any? || @session.errors[:base].any? %>">
      <%= f.text_field :username, :placeholder => "Username" %>
    </div>

    <div class="control-group <%= 'error' if @session.errors[:password].any? || @session.errors[:base].any? %>">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>

    <%= f.submit 'Login', :class => 'btn btn-primary' %>
    <%= link_to 'Back', '#', :class => 'btn' %>

  <% end %>

  </div>

  <div class="span6">
    <!-- Extra content here... -->
  </div>

</div>